/* *{
    box-sizing: border-box;
} */

body {
	background-color: #2f6ccf;
	/* color: rgb(150, 31, 31);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	text-align: center; */
}

.fa-snowflake {
    animation:falls 10s linear forwards;
	color: rgb(143, 14, 14);
	position: absolute;
	top: 10px;
    
    
@keyframes falls {
    to {
        transform: translateY(105vh);

    }
}
}